body, html {
    margin: 0;
    padding: 0;
  }
  
  .conteneur-centre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .PrincipalBox {
    width: 150vh;
    height: 80vh;
    background-color: #f0f0f0;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
  }
  .backButton {
    margin-top: 2vh;
    margin-left: 2vh;
  }

  .image_container img{
    width: 35vh;
    height: 35vh;
    border-radius: 10vh;
    margin-top: 20vh;
    margin-left: 20vh;
  }
  
  .backButton a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #001F3F;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
  
  .backButton a:hover {
    background-color: #00356e;
  }

  .txt{
    margin-left: 62vh;
    margin-right: 8vh;
    margin-top: -38vh;
    text-align: center;
  }
  .Title{
    color: #001F3F;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 2.5vh;
  }
  .informations{
    display: inline;
    margin-top: 10vh;
    color: #2e2e2e;
    font-size: 2vh;

  }

  @media screen and (max-width: 600px) {
  .PrincipalBox {
    width: 90vw;
    max-width: 90vw;
    height: 95vh;
  }
  .WebContainer {
    margin-left: 5vw;
    margin-top: 5vh;
    margin-right: 5vw;
  }
  .image_container img{
    width: 30vh;
    height: 30vh;
    border-radius: 10vh;
    margin-top: 5vh;
    margin-left: 6vh;
  }
  .informations{
    text-align: center;
    margin-left: 5vh;
    margin-top: 0vh;
  }
  .Title{
    margin-left: 0vh;
  }

  .txt {
    margin-left: -0vw;
    margin-right: 0vh;
    margin-top: 0vh;
    text-align: center;
  }}