/* CSS général de la page */
body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.menu {
  background-color: transparent;
  margin: 0 auto; /* Centrer horizontalement */
  padding: 0;
  text-align: center;
  margin-top: 5vh; /* Décaler vers le bas de 20 pixels */
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-top: 3vh; /* Décaler vers le bas de 20 pixels */
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  display: inline-block;
  padding: 1vh 1.5vh;
  color: #001F3F;
  text-decoration: none;
  transition: border-bottom 0.3s ease;
}

.menu ul li a:hover {
  border-bottom: 2px solid #001F3F;
}

/* CSS pour le titre */
.title {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 8em;
  text-align: center;
  color: #001F3F;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  margin-top: 5vh;
}

/* CSS pour l'image de l'ordinateur */
.image_container img {
  position: relative;
  z-index: 2;
  top: -8vh;
  width: 60%;
  display: block;
  margin: 0 auto;
}

.computer-image {
  position: absolute;
  width: 60%;
  display: block;
}

/* Styles pour les conteneurs */
.BoxContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: -22%;
  width: 100%;
}

/* Styles pour les boîtes */
.box {
  width: 47%;
  background-color: #ffffff;
  margin-left: 4vh;
  margin-right: 0.5vh;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 40px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.box:nth-child(3) {
  margin-top: 2vh;
}

.box:nth-child(4) {
  margin-top: -22vh;
  height: 60vh;
}

/* Styles pour le contenu dans les boîtes */
.inBox {
  text-align: center;
  font-size: 2em;
  margin: 5px;
  color: #000000;
  color: #001F3F;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


#pourcentage {
  font-size: 19vh;
  margin-top: 8vh;
  color: #001F3F;
}

#vente {
  margin-top: 5vh;
  color: #001F3F;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#vente2 {
  margin-top: 8vh;
  color: #001F3F;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#textbox {
  text-align: center;
  font-size: 3.5vh;
  color: #2e2e2e;
}

.bbox {
  margin-top: 5vh;
}

/* Styles pour le texte central */
.textmid {
  text-align: center;
  margin-top: 5%;
}

.titlemid {
  font-size: 3em;
  padding-top: 5%;
  color: #001F3F;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.pmid {
  font-size: 1.5em;
  color: #2e2e2e;
  margin-top: 2.5%;
}

/* CSS pour le footer */
footer {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  padding: 5vh;
  margin-top: 20vh;
}

/* Style pour les liens dans le footer */
footer a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #0099ff;
}

/* Media query pour les téléphones */
@media only screen and (max-width: 768px) {
  .menu ul {
    margin-top: 10px;
  }

  .menu ul li a {
    padding: 5px;
    font-size: 1em;
  }

  .title {
    font-size: 2.3em;
    margin-top: 2vh;
  }

  .image_container img {
    width: 100%;
    top: -5vh;
  }

  .computer-image {
    width: 80%;
  }

  .box {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
  }

  .box:nth-child(4) {
    margin-top: 2vh;
    height: 60vh;
  }

  #pourcentage {
    font-size: 10vh;
    margin-top: 5vh;
  }

  #textbox{
    font-size: 1em;
  }

  #vente{
    margin-top: 2vh;
  }

  .titlemid {
    margin-top: 15vh;
    font-size: 2em;
  }

  .pmid {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu ul {
    margin-top: 10px;
  }

  .menu ul li a {
    padding: 10px;
    font-size: 1.5em;
  }

  .title {
    font-size: 6em;
    margin-top: 3vh;
  }

  .image_container img {
    width: 70%;
    top: -5vh;
  }

  .computer-image {
    width: 70%;
  }

  .box {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
  }

  #pourcentage {
    font-size: 15vh;
    margin-top: 5vh;
  }
  #textbox{
    font-size: 2vh;
  }

  .titlemid {
    font-size: 2.5em;
  }

  .pmid {
    font-size: 1.3em;
  }
}

/* Media query pour les écrans de 1024px à 1200px */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .menu ul {
    margin-top: 10px;
  }

  .menu ul li a {
    padding: 10px;
    font-size: 1.5em;
  }

  .title {
    font-size: 6em;
    margin-top: 3vh;
  }

  .image_container img {
    width: 70%;
    top: -5vh;
  }

  .computer-image {
    width: 70%;
  }

  .box {
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10px;
  }
  #vente{
    margin-top: 2vh;
  }
  #textbox{
    font-size: 150%;
  }

  #pourcentage {
    font-size: 15vh;
    margin-top: 5vh;
  }
}
